body {
     background: #000;
     width: 100%;
     height: 100%;
}

#drawing_container {
     position: absolute;
     margin: auto;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 150px;
     height: 150px;
     color: #fff;
}
